#navstyle{
	width: 100%;
	height: 100px;
	margin:40px auto 20px;
	background-color: white;
	font-family: helvetica;
	font-size:13px;
	font-weight: lighter;
	border-bottom: .5px solid #eee;
	padding: 0;
}

#logo{
	font-family: Palatino;
	font-size: 50px;
/*	letter-spacing: 3px;
*/	text-align: left;
	float: left;
	margin-left: 7%;
}

#menulist{
	float: right;
	list-style: none;
	text-align: center;
	margin-right: 30px;
	margin-top: 25px;
}

a{
	color: #000;
	text-decoration: none;
}

li{
	display: inline-block;
	margin: 0 30px;
}

p{
	font-family: Palatino,Georgia,Times;
	font-size: 18px;
	line-height: 25px;
	color: #000;
}

#content{
	width: 100%;
	height: 600px;
	background-image: linear-gradient(#fff, #eee);
}

#contactform{
	width: 60%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.h1{
	font-family: Palatino,Georgia,Times;
	font-size: 20px;
	color: #000;
	text-align: center;
}

.leftcolumn{
	width: 50%;
	margin-right: 5%;
	margin-top: 30px;
	margin-bottom: 60px;
	float: left;
}

.contactinfo{
	width: 80%;
	text-align: left;
}

#contactName, #contactEmail, #contactPhone, #contactMessage{
	border:1px solid #999;
	width: 100%;
	height: 25px;
	border-radius: 3px;
	margin-bottom: 10px;
	display: block;
	font-family: Palatino,Georgia,Times;
	padding: 5px;
}

#send{
	float: right;
	background-color: #777;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	color: white;
}

.rightcolumn{
	width: 40%;
	margin-top: 20px;
	float: right;
	margin-bottom: 60px;
}


#footer{
	clear: both;
	background-color: #111;
	height: 200px;
}

#footerlegal{
	text-align: center;
	margin:0 auto;
	padding: 30px 0 0 0;
	font-family: helvetica;
	line-height: 16px;
	color: #a57a4b;
	font-size: 13px;
}

@media screen and (max-width: 740px){

#menulist{
	display: none;
}

















